a:visited {

    color: rgb(233, 133, 238);
}

#areas {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-right: auto;
    padding-left: auto;
    color: rgb(174, 14, 237);
    size: 50px;
    background-color:blanchedalmond;
    text-shadow: 2px 1px 1px rgb(212, 169, 231);
    margin: 0;
    border: 2px solid black; 
}




a:hover {
    background-color: bisque;
}

.start {

    background-image: url("https://m.media-amazon.com/images/I/41gBb3BFkIL._UY1000_.jpg");
    color: rgb(29, 139, 235);
    border: 1px dotted rgb(180, 84, 84);

}

.start h2 {
    text-emphasis: bold;
    size: 50px;
    text-shadow: 5px, 5px, 2px rgb(209, 209, 255);
}

#instagram {
    height: 50px;
    overflow: scroll;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.interests {

    width: 100%;
    min-height: 300px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#tabletitle {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 1px gray;

}



 * {
    text-align: center; 
    background-color: rgb(26, 16, 28);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }